/* Reset some default styles to ensure consistency across browsers */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
    line-height: 1.6;
}

* {
    scroll-margin-top: 60px;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
}

header h1 {
    font-size: 3.5rem;
    margin: 10px 0;
}

header p {
    font-size: 1.7rem;
    margin: 5px 0;
}

/* Navigation Styles */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900;
}

/* About Section Styles */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding-top: 50px;
}

#about img {
    border-radius: 50%;
    max-width: 250px;
    margin: 20px 0;
    border: 4px solid #ff9900;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#about h1 {
    font-size: 1.6rem;
    margin: 20px 0;
}

#about p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.about-content {
    display: flex;
    justify-content: center;
}

.ab1 {
    width: 37%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
}

.ab2 {
    width: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

/* Skills Section Styles */
#skills {
    text-align: center;
    padding: 40px;
    background-color: #111;
    border-radius: 10px;
    margin: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#skills h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #ff9900;
}

#skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills li {
    margin: 0 15px;
    font-size: 1.2rem;
    background-color: #ff9900;
    padding: 5px 20px;
    border-radius: 5px;
    color: #111;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

#skills li:hover {
    background-color: #333;
    transform: scale(1.05);
}

/* Projects Section Styles */
#projects {
    text-align: center;
    padding: 40px;
    background-color: #111;
    border-radius: 10px;
    margin: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.project-item {
    margin: 20px 20px;
    background-color: #333;
    padding: 20px;
    border: 1px solid #ff9900;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: inline-block;
    justify-content: center;
}

.ProjectContainer {
    width: 47%;
}

.ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-content h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #ff9900;
}

.project-item h3 {
    font-size: 1.6rem;
    margin: 20px 0;
    color: #ff9900;
}

.project-item p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #fff;
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-item:hover {
    transform: scale(1.05);
}

/* Resume Section Styles */
#resume {
    text-align: center;
    padding: 40px;
    background-color: #111;
    border-radius: 10px;
    margin: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#resume h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #ff9900;
}

#resume a {
    text-decoration: none;
    color: #ff9900;
    font-weight: 700;
    font-size: 1.6rem;
    transition: color 0.3s;
}

#resume p {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    transition: color 0.3s;
}

#resume a:hover {
    color: #333;
}

/* Contact Section Styles */
#contact {
    text-align: center;
    padding: 40px;
    background-color: #111;
    color: #fff;
    border-radius: 10px;
    margin: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#contact h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #ff9900;
}

#contact p {
    font-size: 1.2rem;
    margin: 20px 0;
    width: 45%;
    display: inline-block;
}

#contact a {
    color: #ff9900;
    text-decoration: none;
    font-size: 1.6rem;
    transition: color 0.3s;
    margin-right: 10px;
}

#contact a:hover {
    color: #fff;
}

/* Contact Form Styles */

#contactForm {
    text-align: center;
    padding: 40px;
    background-color: #111;
    color: #fff;
    border-radius: 10px;
    margin: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#contactForm h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #ff9900;
}

form {
    text-align: left;
    width: 50vw;
    display: inline-block;
    justify-content: center;
}

label {
    display: block;
    font-size: 1.2rem;
    margin: 10px 0;
    color: #ff9900;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    margin: 5px 0 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #ff9900;
    color: #111;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #111;
    color: #ff9900;
}

/* Footer Styles */
footer {
    background-color: #111;
    color: #ff9900;
    text-align: center;
    padding: 25px 0;
    font-size: 1.2rem;
    clear: both;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {

    header h1 {
        font-size: 2.5rem !important;
    }

    header p {
        font-size: 1.4rem !important;
    }

    nav a {
        text-decoration: none !important;
        color: #fff !important;
        font-weight: 700 !important;
        font-size: 0.8rem !important;
        transition: color 0.3s !important;
    }

    #about {
        padding: 20px;
        padding-top: 20px;
    }

    #about img {
        max-width: 150px;
    }

    #about h1 {
        font-size: 1.2rem;
        margin-top: -15px;
    }

    #about p {
        font-size: 0.8rem !important;
        margin-top: 0;
    }

    .about-content {
        display: inline-block;
        justify-content: center;
    }

    .ab1 {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 30px;
    }

    .ab2 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin: 0 auto;
    }

    #skills {
        padding: 20px;
    }

    #skills h2 {
        font-size: 1.2rem;
    }

    #skills li {
        font-size: 0.8rem;
        padding: 4px 8px;
    }

    #projects {
        padding: 20px;
    }

    .projects-content h2 {
        font-size: 1.2rem;
        margin: 20px 0;
        color: #ff9900;
    }

    #projects h3 {
        font-size: 1.2rem;
    }

    #projects p {
        font-size: 0.8rem;
    }

    .ProjectContainer {
        width: 100%;
    }

    #resume {
        padding: 20px;
    }

    #resume h2 {
        font-size: 1.2rem;
    }

    #resume a {
        font-size: 1.2rem;
    }

    #resume p {
        font-size: 0.8rem;
    }

    #contact {
        padding: 20px;
    }

    #contact h2 {
        font-size: 1.2rem;
    }

    #contact p {
        font-size: 0.8rem;
        margin: 20px 0;
    }

    #contact a {
        color: #ff9900;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s;
        margin-right: 10px;
    }

    form {
        text-align: left;
        width: 70vw;
        display: inline-block;
        justify-content: center;
    }

    #contactForm {
        padding: 20px;
    }

    #contactForm h2 {
        font-size: 1.2rem;
        margin: 20px 0;
        color: #ff9900;
    }

    label {
        display: block;
        font-size: 0.8rem;
        margin: 10px 0;
        color: #ff9900;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        font-size: 0.8rem;
        margin: 5px 0 15px;
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: #111;
        color: #fff;
    }

    button[type="submit"] {
        background-color: #ff9900;
        color: #111;
        padding: 5px 10px;
        font-size: 0.8rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    footer {
        background-color: #111;
        color: #ff9900;
        text-align: center;
        padding: 20px 0;
        font-size: 0.8rem;
        clear: both;
    }
}